{% extends "catalog/base.html" %}
{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Вход</h1>
      <p class="lead text-body-secondary">Я не знаю чем дополнить заполните форму пожалуйста</p>
    </div>
  </div>
</section>
<div class="container" style="max-width: 600px;">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-outline-success">Войти</button>
    </form>
</div>
{% endblock %}